@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

body {
    background-color: rgb(21, 21, 21);
    color: white;
    font-family: 'Fira Code', sans-serif;
}

#header {
    background-image: url("images/header.png");
    background-color: black;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.heading {
    font-size: 5em;
}

#thumbnails {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30vw);
    grid-gap: 20px;
}

.thumb {
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    opacity: 1;
    transition: 0.5s ease;
}

.thumb:hover {
    opacity: 0.3;
}

.text {
    padding-top: 3em;
    opacity: 0;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
}

.text:hover {
    opacity: 1;
    cursor: pointer;
}

#firefly {
    background-image: url("images/fireflies.png");
}

#attractor {
    background-image: url("images/lorenz.png");
    background-position: center;
}

#flowfield {
    background-image: url("images/flowfield.png");
}

#convexhull {
    background-image: url("images/convexhull.png");
    background-position: center;
}

#fern {
    background-image: url("images/fern.png");
    background-position: center;
}

#tensor {
    background-image: url("images/tensor.png");
    background-position: center;
}

#morb {
    background-image: url("images/morb.png");
    background-position: center;
}